[submodule "source/persistentstatemodule"]
	path = source/persistentstatemodule
	url = git@github.com:JhonnyJason/service-sources-persistentstatemodule.git
[submodule "source/scimodule"]
	path = source/scimodule
	url = git@github.com:JhonnyJason/service-sources-restscimodule.git
[submodule "source/specificinterfaces/secretmanagementinterface"]
	path = source/specificinterfaces/secretmanagementinterface
	url = git@github.com:JhonnyJason/secretmanagementinterface.git
