[submodule "source/persistentstatemodule"]
	path = source/persistentstatemodule
	url = git@github.com:JhonnyJason/service-sources-persistentstatemodule.git
[submodule "source/validatabletimestampmodule"]
	path = source/validatabletimestampmodule
	url = git@github.com:JhonnyJason/thingy-sources-validatabletimestampmodule.git
[submodule "source/index"]
	path = source/index
	url = git@github.com:JhonnyJason/service-sources-index.git
[submodule "source/secretmanagementinterface"]
	path = source/secretmanagementinterface
	url = git@github.com:JhonnyJason/secretmanagementinterface.git
