sciroutes = {}

import h from "./scihandlers"

{{#components}}
############################################################
#region {{{name}}}.coffee
{{{coffee}}}
#endregion

{{/components}}


export default sciroutes
