scihandlers = {}

############################################################
#region 
import * as security from "./securitymodule.js"
import * as secretStore from "./secretstoremodule"
import * as secretHandler from "./secrethandlermodule"

############################################################
scihandlers.authenticate = security.authenticateRequest

#endregion

{{#components}}
############################################################
#region {{{name}}}.coffee
{{{coffee}}}
#endregion

{{/components}}


export default scihandlers
