scihandlers = {}

############################################################
#region 
security = require("./securitymodule")
secretStore = require("./secretstoremodule")
secretHandler = require("./secrethandlermodule")

############################################################
scihandlers.authenticate = security.authenticateRequest

#endregion

{{#components}}
############################################################
#region {{{name}}}.coffee
{{{coffee}}}
#endregion

{{/components}}


export default scihandlers
